node_modules
dist
out
.DS_Store
.eslintcache
*.log*
.idea/
.vscode/

# Native addon build
build/
*.node
*.dll
*.dylib
*.so
*.exp
*.lib
src/main/native/deps/ffmpeg/
src/main/native/deps/libsamplerate/
engine-android/deps/
